<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %} {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>
      {% block title %} {% endblock %}
    </title>
  </head>

  <body>
    <div class="header">
      {% block headbar %} {% endblock %}
    </div>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
    <div class="content-choose">
      {% block footer %} {% endblock %}
    </div>
  </body>
</html>
