{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
{% endblock %}
<title>{% block title %}detail{% endblock %}</title>

{% block headbar %}
<p>김동현의 To Do List</p>
{% endblock %}

{% block content %}
<div class="content-title">
  {{dolist.title}}
</div>
<div class="content-deadline">
  <p>{{dolist.deadline}}</p>
</div>
<div class="content-content">
  <p>{{dolist.content}}</p>
</div>
</div>
<div class="content-comment">
  <form method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <input type="text" name="content" placeholder="댓글을 입력해주세요" />
    <button type="submit">댓글 쓰기</button>
    {% endif %}
  </form>
  {% for comment in dolist.comments.all %}
  <div class="content-comment-box">
    <span class="material-icons">subdirectory_arrow_right</span>
    <p>{{ comment.content }}</p>
    {% if user.is_authenticated and comment.author.pk == user.pk %}
    <div class="content-comment-box-delete">
      <a href="{% url 'delete_comment' dolist.pk comment.pk %}">X</a>
    </div>
    {% endif %}
  </div>
  {% endfor%}
</div>
<div class="content-choose">
  <div class="content-choose-box">
    <span class="material-icons">home</span>
    <a href="{% url 'home' %}">홈으로</a>
  </div>
  {% if user.is_authenticated and dolist.author.pk == user.pk %}
  <div class="content-choose-box">
    <span class="material-icons">delete</span>
    <a href="{% url 'delete' dolist.pk %}">삭제하기</a>
  </div>
  <div class="content-choose-box">
    <span class="material-icons">brush</span>
    <a href="{% url 'edit' dolist.pk %}">수정하기</a>
  </div>
  {% endif %}
</div>

{% endblock %}