{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
{% endblock %}
<title>{% block title %}home{% endblock %}</title>

{% block headbar %}
{% if user.username %}
<p>{{ user.username }}의 To Do List</p>
{% else %}
<p>로그인 후 사용해주세요~</p>
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">로그아웃</a>
{% else %}
<a href="{% url 'login' %}">로그인</a>
<a href=" {% provider_login_url 'google' %}">구글 로그인</a>
<a href=" {% provider_login_url 'kakao' %}">카카오 로그인</a>
<a href="{% url 'signup' %}">회원가입</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="content-flex content-title">
  <div class="content-box"><span>제목</span></div>
  <div class="content-box"><span>마감기한</span></div>
</div>
<div>
  {% load mathfilters %} 
  {% for dolist in dolists %}
  {% if user.pk == dolist.author.pk %}
  <div class="content-flex content-row">
    <input type="checkbox" />
    <div class="content-box">
      <a href="{% url 'detail' dolist.pk %}">{{dolist.title}}</a>
    </div>
    {% if dolist.dday >= 0 %}
    <div class="content-box">
      <span><span id="bold">{{dolist.dday}}</span>일 남았습니다</span>
    </div>
    {% else %}
    <div class="content-box">
      <span><span id="bold">{{dolist.dday|abs}}</span>일 지났습니다</span>
    </div>
    {% endif %}
    <br />
  </div>
  {% endif %}
  {% endfor %}
</div>

{% if user.is_authenticated %}
<div class="content-choose-box">
  <span class="material-icons">brush</span>
  <a href="{% url 'new' %}">추가하기</a>
</div>
{% endif %}
{% endblock %}