<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New</title>
</head>

<body>
    <div class="header">
        <p>To Do List</p>
    </div>
    <div class="content">

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="제목을 입력해주세요" 
            style="width: 500px; height: 30px">
            <input type=" text" name="content" placeholder="내용을 입력해주세요" 
            style="width: 100%;height: 400px;margin-top: 20px;">
            <input type="date" name="deadline" placeholder="마감기한을 입력해주세요"
            style="margin-top: 20px;"">
            <button type="submit">작성하기</button>

    </div>
    <div class="content-choose">
        <div class="content-choose-box">
            <span class="material-icons">home</span>
            <a href="{% url 'home' %}">홈으로</a>
        </div>
    </div>



</body>