{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
{% endblock %}
<title>{% block title %}new{% endblock %}</title>

{% block headbar %}
<p>김동현의 To Do List</p>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="제목을 입력해주세요" style="width: 500px; height: 30px">
    <input type="text" name="content" placeholder="내용을 입력해주세요" style="width: 100%;height: 400px;margin-top: 20px;">
    <input type="date" name="deadline" placeholder="마감기한을 입력해주세요" style="margin-top: 20px;"">
            <button type="submit">작성하기</button>

    {% endblock %}
    {% block footer %}
    <div class="content-choose-box">
        <span class="material-icons">home</span>
        <a href="{% url 'home' %}">홈으로</a>
    </div>
    {% endblock %}